<div style="background-color: aqua;">
{% extends 'base.html'%}

{% block content %}
<div class="container" style="background-color: black;">
    <div class="row" style="border:2px solid #222;border-radius: 5px;box-shadow: 5px 10px #888888;margin-bottom: 10px;padding:10px;">
    <!-- displaying  Username-->
        <div class="col-md-7">
            <!--Display profile photo-->
            {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
            {%else%}
                <p>No profile picture</p>
            {% endif %}

            <h3> {{user.username| capitalize}} </h3>

            <!--Displaying user bio-->
            {% if user.bio %}
            <p> {{user.bio}}</p>
            {%else%}
            <p> {{user.username| capitalize}} has no bio </p>
            {% endif %}
        </div>

        
            {% if user == current_user %}
                <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data" style="margin-bottom: 10px;margin-top:10px;">
                    <input type="file"  name="photo" class="form-control" required style="margin-bottom: 10px;margin-top:10px;">
                    <input type="submit"class="btn btn-outline-secondary" style="margin-bottom: 10px;margin-top:10px;">
                </form>
            {% endif %}
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}" style="margin-bottom: 10px;margin-top:10px;">Edit profile</a>
                
            {% endif %}
    </div>

    <div class="row" style="border:2px solid #222;border-radius: 5px;box-shadow: 5px 10px #888888;margin-bottom: 10px;">
        <div class="col-md-12">
            <h3>Posts By {{user.username| capitalize}}</h3>
            {% if posts %}
                {% for post in posts %}
                <div class="col-xs-12 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="card">
                                <div class="card-header">
                                    <h4>{{post.title}}</h4>
                                </div>
                                <div class="card-body">
                                    <p>{{post.description}}</p>
                                    <p>Posted On:{{post.posted}} By {{post.user.username}}</p>
                                    <a class="btn btn-outline-info btn-sm text-center" href="/pitch/new/comment/{{post.id}}"> View Comments </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor%}
            {% else %}
                <h3 class ="text-center" style="font-size:200%"> {{user.username| capitalize}}  has no posts </h3>
                <a class="btn btn-success btn-sm text-center"  href="{{url_for('main.new_post')}}">Write a new Post</a>
            {%endif%}
        </div>
    </div>
</div>


{% endblock %}
</div>