<div style=" background-image: url('https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size: cover; background-repeat: no-repeat; background-color: black; ">
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

{% block content %}
<section>
    <div class="container">
        <div class="row align-items-center" style="text-align:center;justify-content:center;">
            <div class="p-5">
            <h1 class="display-4"> BLOG YETU</h1>
    
            <h3 style="color: red"> Blog yetu the home of bloggin is the best</h3>
            </div><br>
            <div >
            <a class="btn btn-success btn-xl text-center" style="margin-bottom: 10px;"  href="{{url_for('main.new_post')}}">Make a Post &#9997</a>
        </div>
        </div>
    </div>
</section><br><br>
<section>
    <div class="conatiner">
        <div class="row align-items-center" style="text-align:center;justify-content:center;">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                {{macro.displayPosts(posts)}}
            </div>
            <div class="col-md-3"></div>
            
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
                <div class="card-body card-body-cascade text-center" style="border:2px solid #222;border-radius: 5px;box-shadow: 5px 10px #0a2e41;margin-bottom: 10px; background-color: aqua">
                    <h3 class="h3-responsive">{{quote.quote}}</h3>
                    <h5>~ {{quote.author}}</h5>
                </div>
            </div>
        <div class="col-md-3"></div>

    </div>
</section>


</div>
{% endblock%}
