{% extends "base.html" %}
{%  import "macros.html" as macro%}

{% block content %}
<body>
    <h1 style="text-align: center"> Blog-Yetu!</h1>
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">    
    <div class="container-fluid"
    style="font-family: 'Satisfy', cursive; font-size: 50px; background-color:rgb(197, 168, 145); background-repeat: no-repeat; background-size: cover;background-position: center;height: 100%;width: 100%;">

    <div class="row">

        <div class="col-md-6">
                {{macro.displayBlogs(blogs)}}
                <!-- {% for post in posts %} -->
                <!-- {{ wtf.quick_form(post_form) }}
                {{simplemde.load}} -->

        </div>
        <div class="col-md-6">
            <p>{{quote.quote}}</p>
            <p>{{quote.author}}</p></div>

        <div class="col-md-6" id="landing"
            style="margin-bottom:200px; margin-top: 200px; margin-left: 60px; font-size: 70px;font-weight: bold;">
        
        </div>
    </div> 
</div>  
</body>
{% endblock %}